@media (max-width: 1500px)  {
	.nav_header {
		margin-right: 40%;
	}
	.nav_header-social {
		margin-right: 4%;
	}
}

@media (max-width: 1360px)  {
	.nav_header {
		margin-right: 35%;
	}
	.nav_header-social {
		margin-right: 4%;
	}
} 

@media (max-width: 1260px)  {
	.nav_header {
		margin-right: 30%;
	}
	.nav_header-social {
		margin-right: 4%;
	}
} 
	
@media (max-width: 1160px)  {
	.nav_header {
		margin-right: 27%;
	}
	.nav_header-social {
		margin-right: 7%;
	}
	.header {
		padding-left: 3%;
	}
	.menu_item:not(:last-child) {
		margin-right: 10%;
	}
	html {
		font-size: 18px;
	}
} 

@media (max-width: 1070px)  {
	.nav_header {
		margin-right: 25%;
	}
		
	.nav_header-social {
		margin-right: 3%;
	}
	
	.header {
		padding-left: 3%;
	}
	.menu_item:not(:last-child) {
		margin-right: 10%;
	}
	html {
		font-size: 18px;
	}
} 

@media (max-width: 950px)  {
  .nav_header {
    margin-right: 20%;
	}
  .nav_header-social {
    margin-right: 4%;
  }
  .header {
    padding-left: 3%;
  }
        
	.menu_item:not(:last-child) {
    margin-right: 10%;
  }    
  html {
    font-size: 16px;
  }
}  
    
@media (max-width: 840px)  {
	.nav_header {
    margin-right: 20%;
  }           
  .nav_header-social {
    margin-right: 4%;
  }        
  .header {
    padding-left: 3%;
  }       
  .menu_item:not(:last-child) {
    margin-right: 10%;
  }        
  html {
    font-size: 14px;
  }
            
}  
           
@media (max-width: 777px)  {
  .nav_header {
    margin-right: 15%;
  }                 
  .nav_header-social {
    margin-right: 1.8%;
  }            
        */
  html {
    font-size: 14px;
  } 
}  
    
@media (max-width: 692px) {
	.nav_header {
    margin-right: 30%;
  }                 
  .nav_header-social {
    margin-right: 1.8%;
  }            
  .header {
    padding-bottom: 1%;                           
    }
  .title {
    margin-top: 0.5%;
  }                          
  html {
    font-size: 14px;
  } 
	.menu {
    position: absolute;
    left: 0;
    top: 40px;
    padding: 20px;
    margin-left: 10px;
    flex-direction: column;
    background-color: #daccc9;
    z-index: 9;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: opacity 0.5s, transform 0.5s;
  }
  .menu_item:not(:last-child) {
    margin-bottom: 20px;
  }
  .menu_link {
    color: black;
  }
  .button__burger {
    display: block;
    background-color: gray;
    border: none;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@media (max-width: 646px) {
	.nav_header {
    margin-right: 30%;
  }                 
  .nav_header-social {
    margin-right: 3%;
  }            
  .header {
    padding-bottom: 1%;                           
    }
  .title {
    margin-top: .3%;
		font-size: 2.2rem;
  }  
	.menu_social-item {
		width: 28px;
		margin: 5px;
	}
	.button__burger {
		margin-left: 0;
	}
}

@media (max-width: 541px) {
	.nav_header {
    margin-right: 20%;
  }                 
  .nav_header-social {
    margin-right: 3%;
  }            
  .header {
    padding-bottom: 1%;                           
    }
  .title {
    margin-top: .3%;
		font-size: 2.2rem;
  }  
	.menu_social-item {
		width: 28px;
		margin: 5px;
	}
	.button__burger {
		margin-left: 0;
	}
}

@media (max-width: 472px) {
	.nav_header {
    margin-right: 10%;
  }                 
  .nav_header-social {
    margin-right: 2%;
  }            
  .header {
    padding-bottom: 1%;                           
    }
  .title {
    margin-top: .3%;
		font-size: 2.2rem;
  }  
	.menu_social-item {
		width: 28px;
		margin: 5px;
	}
	.button__burger {
		margin-left: 0;
	}
}

@media (max-width: 412px) {
	.nav_header {
    margin-right: 10%;
  }                 
  .nav_header-social {
    margin-right: 2%;
  }            
  .header {
    padding-bottom: 1%;                           
    }
  .title {
    margin-top: .3%;
		font-size: 2.2rem;
		white-space: normal;
  }  
	.menu_social-item {
		width: 28px;
		margin: 5px;
	}
	.button__burger {
		margin-left: 0;
	}
}

@media (max-width: 313px) {
	.nav_header {
    margin-right: 10%;
  }                 
  .nav_header-social {
    margin-right: 2%;
  }            
  .header {
    padding-bottom: 1%;                           
    }
  .title {
    margin-top: .3%;
		font-size: 2.2rem;
		white-space: normal;
  }  
	.menu_social-item {
		width: 28px;
		margin: 5px;
	}
	.button__burger {
		margin-left: 0;
	}
	.header {
		flex-direction: column;
	}
}

/* адаптив шапки */
    
    
@media (min-width: 1305px) {
  .home__card-foto {
    width: calc(100% / 3 - .5% * 2 / 3);
  }
  .home__card-foto:not(:nth-child(3n)) {
    margin-right: .5%;
  }
	.home__card-foto2 {
		width: 49.7%;
	}
	.home__card-foto2:not(:nth-child(2n)) {
    margin-right: .6%;
  }

	

}
    
@media (min-width: 501px) and (max-width: 1304px) {
  .home__card-foto {
  	width: calc(100% / 2 - .5% * 1 / 2);
  }
  .home__card-foto:not(:nth-child(2n)) {
    margin-right: .5%;
  }
	.home__card-foto2 {
		width: 49.7%;;
	}
	.home__card-foto2:not(:nth-child(2n)) {
    margin-right: .6%;
  }
}
    
@media (max-width: 500px) {
  .home__card-foto,
  .home__card-foto2 {
    width: 100%;
  }
}
   
/* адаптив главной страницы     */
    
    
    